CREATE DATABASE [Trendy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Trendy', FILENAME = N'/var/opt/mssql/data/Trendy.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Trendy_log', FILENAME = N'/var/opt/mssql/data/Trendy_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [Trendy]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Trendy] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
